<html ng-app='coin-page'>
	<head>

		<meta charset="utf-8">
		<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.0-beta.1/angular.min.js"></script>
    <script src="./js/core.js"></script>
	</head>
	<body ng-controller='mainController'>
		<div class="container">
			<div ng-repeat="coin in coins">
    			<ol>
      				<li>
      					Usuário: {{coin.userId}} <br >
      					R$ {{coin.cash}}
      				</li>
    			</ol>
			</div>
		</div>
	</body>
</html>